@media print {
    @page {size: landscape;
         margin: 0mm;
    
    }
    .myDivToPrint {
       /* background-color: white;*/
        height: 99%;
        width: 130%;
        position: fixed;
        top: 0;
        left: 0;
        margin: 0mm;
        font-size: 12px;
        line-height: 18px;
    }
}