@media print {
    @page {size: landscape}
    .myDivToPrint {
       /* background-color: white;*/
        height: 1000px;
        width: 100%;
        top: 0;
        left: 0;
        margin: 0mm;
        font-size: 12px;
        line-height: 25px;
    }
}