/*@media print {
    @page {size: landscape;
         margin: 0mm;
    
    }
    .myDivToPrint {
        height: 99%;
        width: 100%;
        top: 0;
        left: 0;
        margin: 0mm;
        font-size: 12px;
        line-height: 18px;
    }
    
    .bt1{
        display: none;
    }
    
    body * {
    visibility:hidden;
  }
  #printSection, #printSection * {
    visibility:visible;
  }
  #printSection {
    position:absolute;
    left:0;
    top:0;
  }
    
}*/

@media screen {
  #printSection {
      display: none;
      visibility: hidden;
  }
}

@media print {
    @page {size: landscape;
         margin: 0mm;
    
    }
    
    .myDivToPrint {
        height: 99%;
        width: 100%;
        top: 0;
        left: 0;
        margin: 10mm;
        font-size: 12px;
        line-height: 18px;
    }
    
  body * {
    visibility:hidden;
  }
  #printSection, #printSection * {
    visibility:visible;
  }
  #printSection {
    position:absolute;
    left:0;
    top:0;
  }
}
